/* Include the padding and border in elemnts total width */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    }
    
body {
    margin: 0;
    white-space: nowrap;
    width: 400px;
    min-height: 190px;
    }

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #dfdfdf;
    font-size: 18px;
    transition: 0.2s;
    border-bottom: 0.5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
}

/* Make list items unselectable */
ul li:nth-child(odd) {
    background: #dfdfdf;
}

/* Darker background on hover */
ul li:hover {
    background: #999999;
}

/* When clicked, add background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add check mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Header styling */
.header {
  background-color: darkorange;
  padding: 10px 40px;
  color: white;
  text-align: center;
    }
      
/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style header font/color */
h2 {
    font-family: monospace;  
    font-size: 25px;
    margin: 5px;
    letter-spacing: 10px;
}

/* Style input */
input {
    border: none;
    width: 75%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Style settings button */
#settingsIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: transparent;
}

/* Style Add button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}
